[Unit]
Description=Parser Brownbook for %i

[Service]
User=%i
ExecStart=/home/%i/Parser/Brownbook/venv/bin/python3 /home/%i/Parser/Brownbook/__main__.py
WorkingDirectory=/home/%i/Parser/Brownbook
Restart=on-failure

[Install]
WantedBy=multi-user.target
